<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/CSS/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/classifiedStyles.css" rel="stylesheet" />
    <link href="~/Content/CSS/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/jquery-ui.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        @Html.Partial("_Header")
        @Html.Partial("_NavBar")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>

    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".image-box").on("click", function (event) {
                var selected = "#" + $(this).attr("id");
                $(selected).toggleClass("image-selected");
                $('.image-box').not(this).removeClass('image-selected');
                $(".category").text($(this).attr("id"));
            });
        });
    </script>
</body>
</html>
